*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
	--dark: #292C35;
	--light: #F1F1F1;
	--label: #111;

    font-size: 62.5%;
}

.light body{
    background-color: var(--dark);
}

body{
    font-size: 1.6rem;
    background-color: var(--light);
    width: 100%;
}


.card{
    display: flex;
    flex-direction: column;
    margin: 0 auto 0;
    width: 100%;
    max-width: 58rem;
    align-items: center;
    margin: 30rem auto 0 ;
}

.theme{
    position: relative;
    display: block;
    background-color: var(--label);
    width: 23.6rem;
    height: 10.2rem;
    border-radius: 5.9rem;
}

.theme button{
    position: absolute;
    width: 8.7rem;
    height: 8.7rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--light);
    border-radius: 50%;
    left: 0;
    z-index: 1;
    margin-left: 1.2rem;
    cursor: pointer;
    animation: slide-out 0.5s forwards;
}

.light .theme button{
    animation: slide-in 0.5s forwards;
}


.sun{
    display: block;
    position: absolute;
    width: 7.7rem;
    height: 7.7rem;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    margin-right: 1.3rem;
}

.moon{
    display: block;
    position: absolute;
    width: 7.7rem;
    height: 7.7rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0 ;
    margin-left: 1.2rem;
}

@keyframes slide-in{
    from{
        left: 0;
    }

    to{
        left: 50%;
    }
}

@keyframes slide-out{
    from{
        left: 50%;
    }

    to{
        left:0;
    }
}